@page "/movies"
@attribute [StreamRendering]
@using Microsoft.EntityFrameworkCore
@inject IMovieService MovieService

<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

<p>This component demonstrates loading data from a database.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Director</td>
                    <td>@movie.Year</td>
                    <td>@movie.Rating</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<MovieDTO>? movies;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        movies = await MovieService.ReadAll();
    }
}
