---
name: Application

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/application.yml
      - src/**
      - tests/**

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/application.yml
      - src/**
      - tests/**

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      CONFIGURATION: Release

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 10.0.x

      - name: Restore Packages
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration "$CONFIGURATION" --no-restore

      - name: Test
        run: dotnet run --project tests/MovieApi.Tests --configuration "$CONFIGURATION" --no-build

      - name: Install Entity Framework Core Tools
        run: dotnet tool install dotnet-ef --global

      - name: Generate Database Migrations Script
        run: dotnet ef migrations script --idempotent --project src/MovieApi/ --startup-project src/MovieApi/ --no-build --output migrate.sql

      - name: Upload Database Migrations Script
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: migrate.sql
          path: migrate.sql

  staging:
    name: Deploy to Staging
    runs-on: ubuntu-latest
    needs: build
    environment: Staging
    if: github.sha == 'disabled' # (github.ref == 'refs/heads/main' || github.event_name == 'pull_request') && github.triggering_actor != 'dependabot[bot]'
    env:
      CONFIGURATION: Release
      RESOURCE_GROUP: GitHubDemo
      WEBAPP: ""
      CONTAINER_REGISTRY: ""
      POSTGRESQL_SERVER: ""
      CONNECTION_STRING: ""

    permissions:
      contents: read
      id-token: write # Required for Azure Login

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 9.0.x

      - name: Restore Packages
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration "$CONFIGURATION" --no-restore

      - name: Publish Container Image
        run: dotnet publish src/MovieApi/ --configuration "$CONFIGURATION" --no-build /t:PublishContainer -p ContainerImageTags="$GITHUB_SHA"
        env:
          GITHUB_SHA: ${{ github.sha }}

      - name: Azure Login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get Variables
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            WEBAPP="$(az webapp list --resource-group "$RESOURCE_GROUP" --query [].name --output tsv)"
            CONTAINER_REGISTRY="$(az acr list --resource-group "$RESOURCE_GROUP" --query [].name --output tsv)"
            IMAGE_NAME="$CONTAINER_REGISTRY.azurecr.io/ondfisk-githubdemo"
            POSTGRESQL_SERVER="$(az postgres flexible-server list --resource-group "$RESOURCE_GROUP" --query [0].name --output tsv)"
            POSTGRESQL_SERVER_HOST=$(az postgres flexible-server show --resource-group "$RESOURCE_GROUP" --name $POSTGRESQL_SERVER --query fullyQualifiedDomainName --output tsv)
            DATABASE="MoviesStaging"
            PASSWORD="$(az account get-access-token --resource-type oss-rdbms --query accessToken --output tsv)"
            CONNECTION_STRING="psql host='$POSTGRESQL_SERVER_HOST' port=5432 dbname='$DATABASE' user='$DATABASE_USER' password='$PASSWORD' sslmode=require options='--client_min_messages=WARNING'"

            echo "WEBAPP=$WEBAPP" >> "$GITHUB_ENV"
            echo "CONTAINER_REGISTRY=$CONTAINER_REGISTRY" >> "$GITHUB_ENV"
            echo "IMAGE_NAME=$IMAGE_NAME" >> "$GITHUB_ENV"
            echo "POSTGRESQL_SERVER=$POSTGRESQL_SERVER" >> "$GITHUB_ENV"
            echo "CONNECTION_STRING=$CONNECTION_STRING" >> "$GITHUB_ENV"
        env:
          DATABASE_USER: ${{ secrets.AZURE_CLIENT_DISPLAY_NAME }}

      - name: Push Image to Azure Container Registry
        if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
        run: |
          az acr login --name "$CONTAINER_REGISTRY"
          docker tag "ondfisk-githubdemo:$GITHUB_SHA" "$IMAGE_NAME:$GITHUB_SHA"
          docker tag "ondfisk-githubdemo:$GITHUB_SHA" "$IMAGE_NAME:$GITHUB_SHA"
          docker push "$IMAGE_NAME" --all-tags
        env:
          GITHUB_SHA: ${{ github.sha }}
          IMAGE_TAG: ${{ github.ref == 'refs/heads/main' && 'latest' || 'test' }}

      - name: Download Database Migrations Script
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: migrate.sql
          path: .

      - name: Apply Database Migrations
        uses: azure/postgresql@59401b7890419c83f372819a1c37f5aecf57ac92 # v1.2.0
        with:
          connection-string: ${{ env.CONNECTION_STRING }}
          server-name: ${{ env.POSTGRESQL_SERVER }}
          plsql-file: migrate.sql

      - name: Deploy Web App Container
        uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d # v3.0.6
        with:
          app-name: ${{ env.WEBAPP }}
          slot-name: staging
          images: ${{ env.CONTAINER_REGISTRY }}.azurecr.io/ondfisk-githubdemo:${{ github.sha }}

  production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: staging
    environment: Production
    if: github.sha == 'disabled' # github.ref == 'refs/heads/main'

    env:
      RESOURCE_GROUP: GitHubDemo
      POSTGRESQL_SERVER: ""
      CONNECTION_STRING: ""

    permissions:
      contents: read
      id-token: write # Required for Azure Login

    steps:
      - name: Download Database Migrations Script
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: migrate.sql
          path: .

      - name: Azure Login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get Variables
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            WEBAPP="$(az webapp list --resource-group $RESOURCE_GROUP --query [].name --output tsv)"
            POSTGRESQL_SERVER="$(az postgres flexible-server list --resource-group $RESOURCE_GROUP --query [0].name --output tsv)"
            POSTGRESQL_SERVER_HOST="$(az postgres flexible-server show --resource-group $RESOURCE_GROUP --name $POSTGRESQL_SERVER --query fullyQualifiedDomainName --output tsv)"
            DATABASE="Movies"
            PASSWORD="$(az account get-access-token --resource-type oss-rdbms --query accessToken --output tsv)"
            CONNECTION_STRING="psql host='$POSTGRESQL_SERVER_HOST' port=5432 dbname='$DATABASE' user='$DATABASE_USER' password='$PASSWORD' sslmode=require options='--client_min_messages=WARNING'"

            echo "WEBAPP=$WEBAPP" >> "$GITHUB_ENV"
            echo "POSTGRESQL_SERVER=$POSTGRESQL_SERVER" >> "$GITHUB_ENV"
            echo "CONNECTION_STRING=$CONNECTION_STRING" >> "$GITHUB_ENV"
        env:
          DATABASE_USER: ${{ secrets.AZURE_CLIENT_DISPLAY_NAME }}

      - name: Apply Database Migrations
        uses: azure/postgresql@59401b7890419c83f372819a1c37f5aecf57ac92 # v1.2.0
        with:
          connection-string: ${{ env.CONNECTION_STRING }}
          server-name: ${{ env.POSTGRESQL_SERVER }}
          plsql-file: migrate.sql

      - name: Swap Staging With Production
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            az webapp deployment slot swap --resource-group "$RESOURCE_GROUP" --name "$WEBAPP" --slot staging
