---
name: Infrastructure

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/infrastructure.yml
      - infrastructure/**
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/infrastructure.yml
      - infrastructure/**
  workflow_dispatch:

concurrency:
  group: application-and-infrastructure-${{ github.ref }}

permissions: {}

env:
  RESOURCE_GROUP: GitHubDemo
  LOCATION: Sweden Central

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Lint Bicep Files
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            az bicep lint --file infrastructure/main.bicep
            az bicep lint --file infrastructure/main.bicepparam

      - name: Build Bicep Files
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            az bicep build --file infrastructure/main.bicep --outfile infrastructure/main.json
            az bicep build-params --file infrastructure/main.bicepparam --outfile infrastructure/main.parameters.json

      - name: Upload Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: infrastructure
          path: infrastructure/*.json

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    if: github.sha == 'disabled' # github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
    environment: Staging

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: infrastructure
          path: infrastructure/

      - name: Azure Login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create Resource Group
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            az group create --name "$RESOURCE_GROUP" --location "$LOCATION"

      - name: Validate ARM Deployment
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2
        with:
          scope: resourcegroup
          resourceGroupName: ${{ env.RESOURCE_GROUP }}
          template: infrastructure/main.json
          parameters: infrastructure/main.parameters.json
          deploymentMode: Validate

      - name: What-if ARM Deployment
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2
        with:
          scope: resourcegroup
          resourceGroupName: ${{ env.RESOURCE_GROUP }}
          template: infrastructure/main.json
          parameters: infrastructure/main.parameters.json
          deploymentMode: Incremental
          additionalArguments: --what-if

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    if: github.sha == 'disabled' # github.ref == 'refs/heads/main'
    environment: Production

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: infrastructure
          path: infrastructure/

      - name: Azure Login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create Resource Group
        uses: azure/cli@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        with:
          inlineScript: |
            az group create --name "$RESOURCE_GROUP" --location "$LOCATION"

      - name: Deploy Resources
        id: deploy
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2
        with:
          scope: resourcegroup
          resourceGroupName: ${{ env.RESOURCE_GROUP }}
          template: infrastructure/main.json
          parameters: infrastructure/main.parameters.json
          deploymentMode: Incremental
